<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.overclock.yuechu.repository.TagMapper">

    <select id="selectAllTags" resultType="com.overclock.yuechu.common.vo.TagResponse">
        select tag.id, tag.tag from tag;
    </select>
</mapper>